<%= form_for post do |form| %>

    <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

    <div class="field">
      <%= form.label :caption %>
      <%= form.text_area :caption ,placeholder:"Enter a caption for the photo..."%>
    </div>
    
    <%= form.submit "Add Photo" %>
<% end %>